{% extends "base_resource.html" %}
{% block related %}
{% set crops = g.item.crops.select().join(Crop).order_by(Crop.orderfield()) %}
{% if crops.count() > 0 %}
<article class="resource-related">
  <h3>Crops Infested</h3>
  <ul class="link-list">
    {% for o in crops: %}
    <li>
      <a href="{{ url_for('apd_view', resource='crop', rid=o.crop.get_key()) }}">{{ o.crop.name }}</a>
    </li>
    {% endfor %}
  </ul>
</article>
{% endif %}
{% set apps = map_query(
    Application.select(
      Application, Crop, Pest, Product, Method
    )
    .join(Crop)
    .switch(Application).join(Pest)
    .switch(Application).join(Product)
    .switch(Application).join(Method)
    .where((Pest.keyfield() == g.item.get_key()))
    .order_by(Product.orderfield())
    , 'product')
%}
{% if apps %}
<article class="resource-related">
  <h3>Treatment Products</h3>
  <dl class="scroll-list">
    {% for product,rows in apps.items() %}
    {% set prod_key = rows[0].product.get_key() %}
    <dt><a class="link-icon" rel="product" title="Product" href="{{ url_for('apd_view', resource='product', rid=prod_key) }}">{{ product }}</a></dt>
    <dd>
      <ul>
        {% for row in rows %}
        <li>
          <a class="link-icon" rel="method" title="Method" href="{{ url_for('apd_view', resource='method', rid=row.method.get_key()) }}">{{ row.method.name }}</a>
          <a class="link-icon" rel="crop" title="Crop" href="{{ url_for('apd_view', resource='crop', rid=row.crop.get_key()) }}">{{ row.crop.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </dd>
    {% endfor %}
  </dl>
</article>
{% endif %}
{% endblock %}
