{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block main %}
      <div class="h2-title">
        <h2 class="h2-content">Search</h2>
        <form class="h2-content" id="search-form" action="{{ url_for('apd_search') }}">
          {% if query %}
          <input value="{{ query }}" name="q"/>
          {% else %}
          <input placeholder="Enter search terms" name="q"/>
          {% endif %}
        </form>
      </div>
      <section id="search-results">
        {% if query %}
          {% for resource,items in results.items() %}
          {% if items %}
          <h3>{{ resource|plural|title }} ({{ items|length }} results)</h3>
          <ol class="resource-list">
            {% for item in items %}
            <li class="resource-list-item">
              {% if item.subscribed %}
              <a href="{{ item.href }}" class="{{ loop.cycle('bg-p-1', 'bg-p-2') }}">{{ item.name }}</a>
              {% else %}
              <a href="{{ item.href }}" class="no-sub">{{ item.name }}</a>
              {% endif %}
            </li>
            {% endfor %}
          </ol>
          {% endif %}
          {% endfor %}
          {% if not results %}
          <p class="center">No results found.</p>
          {% endif %}
        {% endif %}
      </section>
{% endblock %}
